<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="CourierExpertsDemo"
        android:theme="@style/Theme.AppCourrier"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".WelcomeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignUpStep1Activity" />
        <activity android:name=".SignUpStep2Activity" />
        <activity android:name=".PurchasesActivity" />
        <activity android:name=".PackagesActivity" />
        <activity android:name=".ShipmentsActivity" />
        <activity android:name=".NewPurchaseActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".PurchaseDetailActivity" />
        <activity android:name=".ShipmentDetailActivity" />
    </application>
</manifest>
